@charset "utf-8";
/* CSS Document */

#menu{
	width:95%;
	height:50px;
	margin-bottom:20px;
	
}

#container{
	width:100%;
	alignment-adjust:central;
	position:fixed;
	padding:15px;
}

.header{
	width:20%;
	height:5px;
	float:left;
	border-radius:30px;	
}

.konten{
	width:30%;
	height:5px;
	margin-left:1%;
	alignment-adjust:hanging;
	padding:10px;
}

#menu span{
	font-size:24px;
	font-weight:bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#menu span:hover{
	list-style-type:none;
	color:#06C;
	cursor:move;
	box-shadow:#666 10px 10px 10px 0px;
}

.cmenu{
	list-style-type:none;
	font-size:20px;
	margin-left:33%;
}

.cmenu li{
	list-style-type:none;
	float:left;
	padding:19px;
	border:#000 thin solid;
	background-color:#FFF;
	margin-top:1%;
}

.submenu{
	list-style-type:none;
	position:absolute;
	margin-top:20px;
	margin-right:25%;
	margin-left:-4%;
	display:none;
}

.cmenu li:hover .submenu{
	display:block;
}

#slider1_container{
	position:relative; 
	top:0px; 
	left:0px; 
	width:720px;
	height:300px;
}


